.flex-container {
  padding: 0;
  margin: 0px;
  list-style: none;
  height: 0px;  
  display: flex;
  flex-flow: row wrap;
}

nav {
  display: inline;
  flex: 1 100%;
  border: 2px solid black;
  background-color: #ffb4b0;
}

nav ul li {
  display: inline;
  flex: 1 100%;
}

nav li + li:before{
    content: " | ";
    padding: 0 5px;
}

.left_sidebar {
  text-align: ;
}


.left_sidebar {
  flex-grow: 1;
  margin: 10px 10px 0 0;
  padding: 15px;
  background-color: #4dd7fa;
  border: 2px solid black;
}

.artist {
  width: 80%;
}

.album {
  width: 80%;
}

.criteria {
  text-align: center;
}

.right_sidebar {
  flex-grow: 3;
  margin: 10px 0 0 0;
  background-color: #fefac0;
  border: 2px solid black;
  text-align: left;
}

.songs ul li {
  display: inline;
}

.songs li + li:before{
    content: " | ";
    padding: 0 15px;
}

ul {
  list-style-type: none;
}

.songs p {
  color: #785616;
  padding: 0 0 0 30px;
}

table {
  text-align: left;
  padding: 0 20%;
}

.filter {
  width: 40%;
}



